<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>we are citizen</title>
        <meta name="description" content="we are citizen">
        <meta name="viewport" content="width=device-width">
        <!-- font: bold 2em Helvetica, arial, sans-serif; -->           
        <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <ul class="nav">
            <li><a href="/">home</a></li> &nbsp;
            <li><a href="/our-collective/">our collective</a></li>
            <li><a href="/how-we-work/">how we work</a></li> &nbsp;
            <!-- li><a href="/what-weve-done/">what we've done</a></li -->
        </ul>
        <a href="/"><img title="we are citizen" alt="we are citizen" src="/assets/logo.png" /></a>